PORT=YOUR_PORT
AWS_REGION=YOUR_AWS_REGION
USERS_TABLE=YOUR_USERS_TABLE
SESSIONS_TABLE=YOUR_SESSIONS_TABLE
AWS_ACCESS_KEY_ID=YOUR_AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=YOUR_AWS_SECRET_ACCESS_KEY
# Generate an access token secret: node -e "console.log(require('crypto').randomBytes(64).toString('base64url'))"
ACCESS_TOKEN_SECRET=YOUR_ACCESS_TOKEN_SECRET
# Generate a refresh token secret: node -e "console.log(require('crypto').randomBytes(64).toString('base64url'))"
REFRESH_TOKEN_SECRET=YOUR_REFRESH_TOKEN_SECRET
ACCESS_TOKEN_TTL=YOUR_ACCESS_TOKEN_TTL
REFRESH_TOKEN_TTL=YOUR_REFRESH_TOKEN_TTL
CORS_ORIGIN=YOUR_CORS_ORIGIN