PORT=YOUR_PORT
AWS_REGION=YOUR_AWS_REGION
USERS_TABLE=YOUR_USERS_TABLE
SESSIONS_TABLE=YOUR_SESSIONS_TABLE
THUMBNAILS_TABLE=YOUR_THUMBNAILS_TABLE
THUMBNAIL_JOBS_TABLE=YOUR_THUMBNAIL_JOBS_TABLE
AWS_BUCKET_NAME=YOUR_AWS_BUCKET_NAME
AWS_CLOUDFRONT_DOMAIN=YOUR_AWS_CLOUDFRONT_DOMAIN
AWS_ACCESS_KEY_ID=YOUR_AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=YOUR_AWS_SECRET_ACCESS_KEY
THUMBNAIL_JOBS_QUEUE_URL=YOUR_THUMBNAIL_JOBS_QUEUE_URL
# Generate an access token secret: node -e "console.log(require('crypto').randomBytes(64).toString('base64url'))"
ACCESS_TOKEN_SECRET=YOUR_ACCESS_TOKEN_SECRET
# Generate a refresh token secret: node -e "console.log(require('crypto').randomBytes(64).toString('base64url'))"
REFRESH_TOKEN_SECRET=YOUR_REFRESH_TOKEN_SECRET
ACCESS_TOKEN_TTL=YOUR_ACCESS_TOKEN_TTL
REFRESH_TOKEN_TTL=YOUR_REFRESH_TOKEN_TTL
CORS_ORIGIN=YOUR_CORS_ORIGIN
VERTEX_AI_TIMEOUT_MS=YOUR_VERTEX_AI_TIMEOUT_MS
GOOGLE_CLOUD_PROJECT=YOUR_GOOGLE_CLOUD_PROJECT
GOOGLE_CLOUD_LOCATION=YOUR_GOOGLE_CLOUD_LOCATION
GCP_SERVICE_ACCOUNT_KEY=YOUR_GCP_SERVICE_ACCOUNT_KEY